section.debugBar {
  color: white;
  position:absolute;
  z-index: 9999;
  background-color: #00000061;
  width:100%;
  padding:10px;
  display:flex;
  justify-content: space-between;
}
.debugBar__progress{
  display:flex;
  margin-left: 20px;
}
