.path{
  width: 50%;
  position: absolute;
  top: 35%;
  text-align: center;
  left: 25%;
  padding: 30px;
}
.description{
  width: 70%;
  position: absolute;
  top: 50%;
  text-align: center;
  left: 15%;
  padding: 30px;
}
.win{
  width: 40%;
  position: absolute;
  top: 80px;
  text-align: center;
  left: 30%;
  padding: 30px;
  font-size: 60px;
}
img.qr{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: calc(50% - 100px);
}
.qr-info {
	position: absolute;
	width: 100%;
	text-align: center;
	top: alc(50% + 220px);
}